/* @font-face {
    font-family: bahnschrift;
    src: url(../public/fonts/bahnschrift/Bahnschrift.ttf);
}

@font-face {
    font-family: shuttle_x;
    src: url(../public/fonts/shuttle_x/SHUTTLE-X.woff);
} */